p {
    color: red;

    width: 300px;

    border: 1px solid black;

    font-family: 'Roboto', sans-serif;
}

ul {
    color: green;

    font-family: 'Roboto', sans-serif;
}

h1 {

    font-family: 'Roboto', sans-serif;

}

html {

    background-color: #EE82EE;
        
}